# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.so
.env
.venv
env/
venv/
ENV/

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# Jupyter
.ipynb_checkpoints/
*.ipynb

# mypy / pyright
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/

# pytest
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

config.yml
TASKS.state.json
